* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	background-color: #efebeb;
}

code{
    color: #000;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 1px 4px;
}

.wrapper { width: 100%; min-width: 950px; }

#up{  
	position: fixed;
    float: left;
    margin: 43% 35px 10%;
}

#contact-wrapper{
	padding: 10px;
    width: 950px;
    text-align: right;
    margin: 0 auto;
    z-index: 1000;
}

#contact-wrapper span, #contact-wrapper a{
	color: #fff; 
	padding-left: 10px;
	text-decoration: none;
}

#contact-wrapper a:hover{ color: #f44336; }

#menu-wrapper {
	width: 970px;
	margin: 0 auto;
	z-index: 1000;
	background-color: #FFF;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

/* Header*/
header {
	background-size: cover;
    background-position-y: -300px;
	height: 350px;
    background-image: url(../img/header.jpg);
}

nav{
	text-align: center;
	padding: 20px;
}

#logo{
	width: 34px;
    position: absolute;
    margin-top: -10px;
    margin-left: -18px;
}

nav a{ 
	padding: 20px 25px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

nav a:last-of-type{
	background: #d64439;
	color: #fff;
	border: 2px solid #d64439;
} 

nav a:hover{
	border-top: 2px solid #f44336;
	color: #f44336;
}

nav a:last-of-type:hover{
	background: #dc6c64;
	color: #fff;
	border: 2px solid #dc6c64;
} 

/* Breadcrumb*/
.breadcrumb{
	width: 970px;
    padding: 10px 0;
    font-size: 32px;
    color: #fff;
    margin: -90px auto 60px;
    position: relative;
}

/* Top*/
.top {
	width: 950px;
	padding: 10px;
    margin: -40px auto 0px;
	position: relative;
	background-color: #fff; 
}
.top:after {
	display: table;
	clear: both;
	content: '';
}

/* Middle*/
.middle {
	width: 950px;
    margin: 0 auto;
	padding: 10px;
	position: relative;
	background-color: #fff;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.middle .content {
	padding: 0 270px 0 0;
}

hr{     
	margin: 15px 0;
    background: #e2e2e2;
    height: 1px;
    border: none;
}

input[placeholder]{ color: #a7a5a5; }
input::-webkit-input-placeholder{ color: #a7a5a5; } 
input::-moz-placeholder { color: #a7a5a5; }
input:-moz-placeholder{ color: #a7a5a5; } 
input:-ms-input-placeholder { color: #a7a5a5; }  

input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder              {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder      {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder  {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}

.schedule {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

#list1, #list2, #list3 {
	width: 30%;
	height: 300px;
	padding: 10px;
	border: 1px solid #aaaaaa;
}

.pv{ color: #008000; font-weight: bold; }

.pf{ color: #008000; }

.pp{ color: #BA2121; }

.pt{ color: #B00040; }

.pc{ color: #408080; font-style: italic; }

td{
	width: 170px;
}

kbd{
    padding: 2px 4px;
    color: #fff;
    background-color: #f44336;
}

#callback input[type="submit"]{
	background: #f44336;
	color: #fff;
	border: 2px solid #f44336;
} 

#callback input[type="submit"]:hover{
	background: #dc6c64;
	color: #fff;
	border: 2px solid #dc6c64;
	cursor: pointer;
}

/* Right Sidebar*/
.right-sidebar {
	float: left;
	width: 250px;
	margin-left: -250px;
	position: relative;
}

.right-sidebar strong{
	text-transform: uppercase;
	padding: 5px;
	color: #fff;
	background-color: #f44336;
	border: 1px solid #f44336;
}

.right-sidebar ul{
	margin: 20px;
}

.right-sidebar ul li{
	text-decoration: none;
	list-style: none;
	padding: 6px 10px 6px 12px;
	border-left: 2px solid #fff;
}

.right-sidebar .events.active{
	border-left: 2px solid #f44336;
}

.right-sidebar ul li:hover{
	border-left: 2px solid #f44336;
}

.right-sidebar a{
	color: #000;
	text-decoration: none;
}

.right-sidebar a:hover{ color: #f44336; }

/* Bottom*/
.bottom {
	width: 950px;
	padding: 10px;
    margin: 0 auto;
	position: relative;
	color: #fff;
	background-color: #272727; 
	border-left: 4px solid #272727;
	border-right: 4px solid #272727;
}
.bottom:after {
	display: table;
	clear: both;
	content: '';
}

/* Footer*/
footer {
	width: 950px;
	padding: 10px;
    margin: 0 auto;
	height: 30px;
	background-color: #fff;
	text-align: center;
}