* {
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 12px/18px Arial, sans-serif;
}

hr{     
	margin: 15px 0;
    background: #e2e2e2;
    height: 1px;
    border: none;
}

code{
    color: #000;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 1px 4px;
}

a.out{ padding: 5px; font-weight: bold; font: 16px times-new-roman;  }

ul li:first-of-type{ color: red; }

ul li:nth-child(even):after { content:' Ого! '; font-weight: bold; }

.pdf:after{
	content: ' ';
    padding: 2px 9px;
    margin-left: 10px;
    background-image: url(../img/pdf.png);
    background-size: contain;
} 

.wrapper { width: 100%; min-width: 950px; }

/* Breadcrumb*/
.breadcrumb{
	width: 970px;
    padding: 10px 0;
    font-size: 32px;
    color: #fff;
    margin: -90px auto 60px;
    position: relative;
}

/* Top*/
.top {
	width: 950px;
	padding: 10px;
    margin: 0 auto;
	position: relative;
	background-color: #fff; 
}
.top:after {
	display: table;
	clear: both;
	content: '';
}

/* Middle*/
.middle {
	width: 950px;
    margin: 0 auto;
	padding: 10px;
	position: relative;
	background-color: #fff;
}

.top p:hover, .middle p:hover{
    padding: 5px;
	font-weight: bold;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}

.middle .content {
	padding: 0 270px 0 0;
}

.middle .content img:nth-of-type(){ 
	float: left; margin-right: 7px; 
}

.middle .content img:nth-of-type(2n+1) { float: left; margin-right: 7px;  }
.middle .content img:nth-of-type(2n) { float: right; margin-left: 7px;  }

input[placeholder]{ color: #a7a5a5; }
input::-webkit-input-placeholder{ color: #a7a5a5; } 
input::-moz-placeholder { color: #a7a5a5; }
input:-moz-placeholder{ color: #a7a5a5; } 
input:-ms-input-placeholder { color: #a7a5a5; }  

input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder              {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder      {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder  {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}

#bukvica{
    font-size: 30px;
    font-family: Georgia, sans-serif;
	color: #d64439;
    margin-right: 5px;
    line-height: 0.25em;
}

.schedule {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

.schedule div p:hover{ font-family: times-new-roman; background-color: #d64439; }

#list1, #list2, #list3 {
	width: 130px;
    height: 300px;
    padding: 12px;
    border: 1px solid #d2d2d2;
}

.pv{ color: #008000; font-weight: bold; }

.pf{ color: #008000; }

.pp{ color: #BA2121; }

.pt{ color: #B00040; }

.pc{ color: #408080; font-style: italic; }

td{
	width: 170px;
}

td:nth-of-type(2n+3) {
    background: grey;
}

kbd{
    padding: 2px 4px;
    color: #000;
    background-color: rgb(228, 228, 228);
}

#callback input[type="submit"]{
	background: #f44336;
	color: #fff;
	border: 2px solid #f44336;
} 

#callback input[type="submit"]:hover{
	background: #dc6c64;
	color: #fff;
	border: 2px solid #dc6c64;
	cursor: pointer;
}

/* Right Sidebar*/
.right-sidebar {
	float: left;
	width: 250px;
	margin-left: -250px;
	position: relative;
}

.right-sidebar ul{
	margin: 20px;
}

.right-sidebar ul li{
	text-decoration: none;
	list-style: none;
	padding: 6px 10px 6px 12px;
	border-left: 2px solid #fff;
}

.right-sidebar ul li:focus{
	color: #2196F3;
}

.right-sidebar ul li:before{
	content: "\27A5 ";
}

.right-sidebar .events{
	text-decoration: none;
	list-style: none;
}

.right-sidebar .events.first{
	font-weight: bold;
}

.right-sidebar a{
	color: #000;
	text-decoration: none;
}

.right-sidebar a:hover{ color: #f44336; }


#switch-color{ margin: 20px 0; }

#switch-color div{
	padding: 6px 12px;
    margin: 0 5px 0 0;
    background-color: #000;
    border: 1px solid grey;
    display: inline;
}

#switch-color div:first-of-type{ background-color: #efebeb; }

#switch-color div:last-of-type{ background-color: #d64439; }

/* Bottom*/
.bottom {
	width: 950px;
	padding: 10px;
    margin: 0 auto;
	position: relative;
	color: #fff;
	background-color: #272727; 
	border-left: 4px solid #272727;
	border-right: 4px solid #272727;
}
.bottom:after {
	display: table;
	clear: both;
	content: '';
}

q:lang(be) { 
quotes: "\201E" "\201C";
} 

q:lang(en) { 
quotes: "\201C" "\201D";
} 

q:lang(fr), q:lang(ru) {
quotes: "\00AB" "\00BB"; 
} 

.rotateright { transform: rotate(90deg); }

.rotateleft { transform: rotate(-90deg); }

.zoom{ transform: scale(2); }

/* Footer*/
footer {
	width: 950px;
	padding: 10px;
    margin: 0 auto;
	height: 30px;
	background-color: #fff;
	text-align: center;
}